@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  font-family: 'Caveat', cursive !important;

}
body{
  background-color:#f6f6787e !important;
}


header{
  background-color: #06623B !important;
}
.type{
  background-color: #FFA34D !important;
  color: black!important;
}
.price{
  color:#ED6663 !important;
}
.stock{
  color:#5B8C5A !important;
}
.cart{
  background-color: #06623cb7!important;
  color:white !important;
}
